@charset "UTF-8";

/*TODAS AS DEMAIS MIDIAS*/

/*Typical Device Breakpoints
----------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 769px até 992px
Desktop: 993px até 1200px
Grandes telas: acima de 1201px
*/

@media screen and (min-width: 768px){

    menu{
    display: block;
    }

    i#menu-mobile{
    display: none;
    }

    menu > ul > li{
        display: inline-block;
    }

    main{
        width: 768px;
    }


}
